<h1><%= title %></h1>
<hr />
<div class="about_main_container">
  <div class="about_text">
    <h3>A LITTLE BIT ABOUT ME</h3>
    <br />
    <p>
      My name is Jatinder Dhiman and I am currently a Computer Science student
      (2nd year) and a Full-Stack Developer. Even though I have a succesfull
      career in Mechanical Engineering, I was always keen to know about the
      technologies that power the world of web-development and other software
      applications. This interest made me jump into the area of software
      development and I have been enjoying my journey so far.
    </p>
    <p>
      Apart from learnig new technologies, I also like to connect with nature
      during my spare time. Camping, gardening and gaining knowledge about
      various plants are few things that help me relax. I also love to try my
      skills in the kitchen and love to bake.
    </p>
    <p>
      In future, I hope to become a great developer someday and work for some
      organisation that would give me an oppurtunity to utilise my development
      skills and also give me a chance to learn some new things.
    </p>
    <br />
    <br />
    <p>
      <i>
        <strong>
          "Great things happen to those who don't stop believing, trying,
          learning, and being grateful"<br />
        </strong>
      </i>
      <i>
        <sup> Roy T. Bennett, The Light in the Heart </sup>
      </i>
    </p>
  </div>
  <div class="about_image">
    <img
      class="aboutpage_image"
      src="/content/images/About.jpg"
      alt="about_image"
    />
  </div>
</div>
<div class="about_quote"></div>
