<h1> <%= title %> </h1>
<br>
<hr>
<div class="home_main">
    <div class="home_text">
        <h2 class="home_h2">HELLO !</h2>
        <p>My name is <h2 class="home_h2">JATINDER DHIMAN</h2>
        <br>I am a Full-Stack Developer....</p>
    </div>
    <div class="home_image">
        <img class="homepage_image" src="/content/images/Home.jpg" alt="home_image">
    </div>


</div>
