<h1><%= title %></h1>
<div class="projects_main">
  <div class="projects_text">
    <p>
      Some of the projects that I have made during my studies are listed below.
      All these have been developed by me from scratch to finish.
    </p>
  </div>
  <div class="projects_images">
    <div class="project1">
      <div id="project1" class="project1image_container">
        <img
          class="project1_image"
          src="/content/images/project1.png"
          alt="project1"
        />
      </div>
      <div id="project1Modal" class="project_description">
        <h5 class="project_heading">DICE GAME</h5>
        <p class="project_text">
          This game is built only using HTML, CSS and JavaScript. The game
          involves 2 players, player 1 starts rolling the dice and keeps adding
          the numbers to his score. He keeps rolling until 1 comes up, and then
          he loses all his current score of the dice on 1 coming on dice. He has
          the option to pass the dice to other player in order to add the
          current dice score to his total score. The same applies for 2nd
          players as well. The player to reach the score of 100 first wins the
          game
        </p>
      </div>
    </div>
    <div class="project2">
      <div id="project2" class="project2image_container">
        <img
          class="project2_image"
          src="/content/images/project2.png"
          alt="project2"
        />
      </div>
      <div id="project2Modal" class="project_description">
        <h5 class="project_heading">BANKIST</h5>
        <p class="project_text">
          This is a demo application for an online banking platform. The
          application is built using HTML, CSS, Bootstrap and JavaScript. The
          application allows user to open a new account and explore other
          features of the app. It also provides potential users with
          testimonials from current users.
        </p>
      </div>
    </div>
    <div class="project3">
      <div id="project3" class="project3image_container">
        <img
          class="project3_image"
          src="/content/images/project3.png"
          alt="project3"
        />
      </div>
      <div id="project3Modal" class="project_description">
        <h5 class="project_heading">GUESS MY NUMBER</h5>
        <p class="project_text">
          This is a retro game in which the player tries to guess a number
          between 1 and 20, chosen randomly by the computer. If the player guess
          is too high, the computer provide the hint "too high" and vice versa.
          Each guess reduce the score by 1 until the player is finally guesses
          the correct number. The score is stored under highscore until a new
          better score is reached.<br />This game is also built using HTML, CSS
          and JavaScript.
        </p>
      </div>
    </div>
  </div>
</div>
