<h1><%= title %></h1>
<br />
<hr />
<div class="services_main">
  <div class="services_text">
    <p>
      By working on various projects, I have gained valuable knowledge in
      programming and software-development. I specialise in web-application
      development as well as mobile-applications development. By working on
      various projects, I have gained good knowledge and experience in the below
      mentioned technologies
    </p>
  </div>
  <div class="services_image">
    <img src="./content/images/html.png" alt="html" />
    <img src="./content/images/css.png" alt="css" />
    <img src="./content/images/js.png" alt="js" />
    <img src="./content/images/react.png" alt="react" />
    <img src="./content/images/c-sharp.png" alt="c-sharp" />
  </div>
</div>
